<p class="lead">This is a small website to keep track of movies you have watched and rated.</p>

<p class="lead">The website is a Single Page Application that allows the user to add, edit and delete movies from the database. Each movie has an assocated image, genre and rating.</p>

<p class="lead">Technologies such as Django, Django REST framework, AngularJS and Twitter Bootstrap and HTML5 are used.</p>

<div class="centre_text">
    <a href="/">
        <img src="static/movies/images/Movie.jpg" alt="Movie Clapperboard" style="height:150px">
        <a>
</div>