<div class="centre_text">
<a ui-sref="newMovie" class="btn-primary btn-lg nodecoration">Add New Movie</a>
<br>
<br>
  <p>Search <input type="text" ng-model="test"></p> <div>
  <div class="col-lg-4 product-cell" dir-paginate="movie in movies | filter : test |itemsPerPage:6">
    <div class="thumbnail">
      <img ng-src="[[movie.image]]" alt="Smiley face">
      <div class="caption">
        <h3>[[movie.title]]</h3>
        <p>
            <a href="#/movies/[[movie.id]]/view" class="btn btn-small btn-primary">Read more</a> 
            <a class="btn btn-danger"  ng-click="deleteMovie(movie)">Delete</a></p>
      </div>
    </div>
  </div>
</div>
 <div class="centre_text">
     <dir-pagination-controls max-size="6" direction-links="false" boundary-links="true" ></dir-pagination-controls>
 <div>

